<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="firstApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>

    Full Name: {{firstName + " " + lastName}}

<!--    <p>Name : <input type="text" ng-model="name" ng-init="firstName='Denim';lastName='Group'"></p>-->

    <p>The name is <span ng-bind="firstName"></span><span> </span><span ng-bind="lastName"></span></p>

    <p>My first expression: {{ 5 + 5 }}</p>

    <input style="background-color:{{myCol}}" ng-model="myCol"><br>

    Quantity: <input type="text" ng-model="quantity"><br>
    Cost: <input type="text" ng-model="cost">

    <p>Total in dollars: {{quantity * cost}}</p>

    <div ng-init="height={feet:5,inches:9}">
<!--        angular expression-->
        <p>My height: {{height.feet}} ft {{height.inches}} in</p>
<!--        using ng-bind-->
        <p>Height in binds <span ng-bind="height.feet"></span>ft <span ng-bind="height.inches"></span>in</p>
    </div>

    <div ng-init="points=[1,2,3,4,5,6,7,8,9]">
        <p>Third point on the array (index 2) is: {{points[2]}}</p>
    </div>

    <div test-Directive></div>

</div>


<script>
    var app = angular.module('firstApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName= "Denim";
        $scope.lastName= "Group";
        $scope.myCol= "lightblue";
        $scope.quantity= 0;
        $scope.cost= 0;
    });
    app.directive("testDirective", function() {
        return {
            template : "test directive"
        }
    });
</script>


</body>
</html>